html{
    scroll-behavior: smooth;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.button{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    background-color: rgb(95, 41, 10);
    padding: 10px;
    margin-top: 0px;
    box-shadow:0px 0px 5px white;
    border: none;
}

.Qoute{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('./images/servicebg1.jpg');
    background-size: cover;
    background-position:unset;
    background-repeat: no-repeat;
}

.companiesimg{
    min-width: 6em;
    padding: 20px 0px;
    margin: auto; 

}

.main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.322),rgba(0, 0, 0, 0.288)), url('./images/bg5.jpg');
    background-size: 100% 100%;
    background-position:unset;
    background-repeat: no-repeat;
}

@media screen and (max-width:630px){
    .main{
        background-size: cover;    
    }

}

.contact{
    background-image: linear-gradient(rgba(0, 0, 0, 0.322),rgba(0, 0, 0, 0.288)), url('./images/bg2.jpg');
    background-size: 100% 100%;
    background-position:unset;
    background-repeat: no-repeat;
}
@media screen and (max-width:1024px){
    .contact{
        background-size: cover;    
    }

}